<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span id="editbrand">EB</span>ook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" id="registerlogo" aria-current="page" routerLink="/addregisterDetails"> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="getregisterlogo"  routerLink="/registerdetails">getRegister Details</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>


<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
     <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Delete Your Register<br />
            <span style="color: hsl(218, 81%, 75%)">Details</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
  
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form (ngSubmit) ="onSubmit()" ngNativeValidate>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-11 mb-1">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control"  required placeholder="Registration Number"
                      [(ngModel)]="deleteRegister.registrationNumber" name="form3Example1"
                      />
                      <label class="form-label" for="form3Example1">Registration Numbber</label>
                    </div>

                    <!-- <input type="text"  required placeholder="registrationNumber" -->
                    <!-- [(ngModel)]="addRegisterDetails.registrationNumber" name="registrationnumber" > -->


                  </div>
                </div>  
                <!-- Delete button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  DELETE REGISTER
                </button>
  
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->