<!-- <app-navbar></app-navbar> -->
<body>
<div class="container" id="main">
<h2>Book List</h2>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search</label>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Enter to Search"
      [(ngModel)]="nameSearch"
    />
  </div>
  

<table class="table table-striped">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Pages</th>
     
 
          </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let b of book | filter: nameSearch "> 
      <td>{{b.bookName }}</td>
      <td>{{ b.authorName }}</td>
      <td>{{ b.bookPages }}</td>
     
  

      <!-- click)="updateLogincd(au.registrationNumber)" -->

    </tr>
  </tbody>
</table>
</div>
</body>
 
 