
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <p>&#9776;</p>
    </label>
    <label class="title">e-BOOK</label>
    <ul>
        <li><a href="#" routerLink="/home">Home</a></li>
        <li><a href="#" routerLink="/about">Info</a></li>
        <li><a href="#" routerLink="/contact">Contact</a></li>
        <li><a href="#" routerLink="/addregisterDetails">SignUp</a></li>
        <li><a href="#" routerLink="/createbook" class="active">Books</a></li>
        
       <!-- <li><a href="#" routerLink="/uploadbook">upload</a></li>  -->
        
        
        <form class="example" action="action_page.php">
            <!-- <input type="text" placeholder="Search.." name="search"> -->
            <button type="submit"><i class=&#128269;></i></button>
          </form>
    </ul>
</nav>
<router-outlet></router-outlet>
