*{
    font-size: 17px;
    font-weight: bolder;
}

.panel-body{
    margin-top:10%;
}

.btndown  {
    background-color: rgb(221, 97, 97);
    border-radius: 25px;
    
}
.btndown:hover{
    box-shadow: 1px solid 8px red;
}

